
:root {
	--grey: rgb(45, 45, 45);
	--white: rgb(244, 244, 244);
	--orange: rgb(237, 89, 64);
}

.light-theme {
	--navBg: var(--white);
	--navColor: var(--grey);
	--mainBg: var(--white);
	--text: var(--grey)
}

.dark-theme {
	--navBg: var(--grey);
	--navColor: var(--white);
	--mainBg: var(--grey);
	--text: var(--white)
}

#nav-bar {
	width: 100%;
	height: 5vh;
	/* background-color: red; */
	position: absolute;
}

#nav-bar ul {
	/* background-color: red; */
	/* margin-left: 66vw; */
	/* margin-left: 70vw; */
	/* width: 70%; */
	float: right;
	margin-left: 15%;
	margin-right: 15%;
}

#nav-bar ul a {
	font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
	text-decoration: none;
	/* color: white; */
	color: var(--navColor);
	font-size: 15px;
	font-weight: 500;
	padding: 1vh 1vw;
	/* margin: 100vh 10vw; */
	transition: all 0.3s ease;
}

#nav-background {
	width: 100%;
	height: 5vh;
	/* background-color: rgb(45, 45, 45); */
	background-color: var(--navBg);
	overflow: hidden;
}

#content {
	width: 100%;
	height: 95vh;
	/* background-color: rgb(45, 45, 45);; */
	background-color: var(--mainBg);
	overflow: hidden;
}

#content img {
	width: 3vh;
	height: auto;
	position: relative;
	margin-left: -3vh;
	margin-top: -3vh;
}

#content div {
	position: absolute;
	width: 33%;
	left: 20vw;
	top:33%;
	/* background-color: red; */
}

#content div p{
	font-size: 20px;
	margin: 0;
	color: var(--text);
}

#content-name {
	color: var(--orange)
}

#content-greeting {
	color: var(--text);
}

.content-bold {
	font-size: 80px;
	margin: 0;
}

#img0 {
	top: 10%;
	left: 10%;
}

#img1 {
	top: 10%;
	left: 50%;
}

#img2 {
	top: 10%;
	left: 90%;
}

#img3 {
	top: 40%;
	left: 5%;
}

#img4 {
	top: 40%;
	left: 55%;
}

#img5 {
	top: 40%;
	left: 85%;
}

#img6 {
	top: 70%;
	left: 10%;
}

#img7 {
	top: 70%;
	left: 50%;
}

#img8 {
	top: 70%;
	left: 90%;
}

body {
	margin: 0;
}

@media(max-width:500px) {
	/* #nav-bar ul {
		background-color: red;
	} */

	#content div {
		position: absolute;
		width: 100%;
		left: 0;
		top:25%;
		padding: 10px;
		overflow: hidden;
		/* background-color: red; */
		box-sizing: border-box;
		word-wrap: break-word;
	}

	#content div p{
		font-size: none;
	}

	.content-bold {
		font-size: 60px;
	}

}