/* Container holding the image and the text */

body {
	background-image: url("Images/25101.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

nav .menu {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	padding: 1vh;
	margin: -10px;
	margin-bottom: 10px;
}

.menu .logo a{
	text-decoration: none;
	color: white;
	font-size: 5vh;
	font-weight: 600;
}

.menu ul{
	display: inline-flex;
}

.menu ul li{
	list-style: none;
	margin-left: 3vh;
}

.menu ul li a{
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
	color: white;
	font-size: 3vh;
	font-weight: 500;
	padding: 1vh 2vh;
	transition: all 0.3s ease;
}

.menu ul li a:hover{
	background: black;
	color: white;
	border-color: black;
}

.container {
	width: 100%;
	position:relative;
	text-align: center;
}

.container div1{
	max-width: 66%;
	padding: 10px;
}

.container img{
	/* height: 100%; */
	max-width: 33%;
	padding: 10px;
	object-fit: contain;
	margin-top: auto;
	margin-bottom: auto;
}

/* .container div2{
	width: 66%;
	height: 100px;
} */

 .container h1{
	/* margin: 10vh; */
	color: black;
	font:italic;
	font-size: 10vh;
}

.container p1 {
	color: black;
	font:italic;
	font-size: 5vh;
}

.fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
  }

  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-moz-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-ms-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
 	 }
  }