html {
	scroll-behavior: smooth;
  }

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
	background-color: var(--mainBg);
}

:root {
	--grey: rgb(53, 53, 53);
	--white: rgb(244, 244, 244);
	--dark_white: rgb(182, 182, 182);
	--accent: rgb(255, 68, 68);
}

.light-theme {
	--navBg: var(--white);
	--navColor: var(--grey);
	--mainBg: var(--white);
	--text: var(--grey);
	--footerBg: var(--grey);
}

.dark-theme {
	--navBg: var(--grey);
	--navColor: var(--white);
	--mainBg: var(--grey);
	--text: var(--white);
	--footerBg: var(--dark_white)
}

.accent-text {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;
}

/* ::-webkit-scrollbar {
	display: none;
} */

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

body {
	background-color: var(--mainBg);
	margin: 0;
	overflow-x: hidden;
	min-width: 300px;
}

#nav-bar {
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 2;
	background-color: var(--mainBg);
}

#nav-bar ul {
	/* margin-left: 66vw; */
	/* margin-left: 70vw; */
	/* width: 70%; */
	margin-left: 0;
	float: right;
	margin-right: 10%;
}

#nav-logo {
	position: absolute;
	left: 10vw;
}

#nav-bar ul a {
	font-family: sans-serif;
	text-decoration: none;
	/* color: white; */
	color: var(--navColor);
	font-size: 15px;
	font-weight: 500;
	padding: 1vh 5px;
	margin: 0;
	transition: all 0.3s ease;
}

#landing {
	width: 100%;
	height: 100vh;
	background-color: var(--mainBg);
	overflow: hidden;
}

#landing img {
	width: 3vh;
	height: auto;
	position: absolute;
	margin-left: -3vh;
	margin-top: -3vh;
	position: fixed;
}

#landing div {
	width:80vw;
}

#landing div p{
	font-family: sans-serif;
	font-size: 1.5vw;
	margin: 0;
	color: var(--text);
	padding-right: 50%;
	line-height: 35px;
}

#landing-name {
	color: var(--accent)
}

#landing-greeting {
	color: var(--text);
}

.landing-bold {
	font-family: sans-serif;
	font-size: 6vw;
	margin: 0;
}

#mini-imgs {
	position: relative;
	height: fit-content;
	width: fit-content;
	margin: 0;
	padding: 0;
	/* background-color: black; */
}

#mini-imgs a{
	text-decoration: none;
	/* background-color: blue; */
	padding-right: 10px;
}

#mini-imgs a img{
	margin-top: auto;
	margin-left: 0;
	width: 20px;
}

#img0 {
	top: 25vh;
	left: 10%;
	animation: c_rotation 2s infinite linear;
}

#img1 {
	top: 25vh;
	left: 50%;
	animation: cc_rotation 2s infinite linear;
}

#img2 {
	top: 25vh;
	left: 90%;
	animation: c_rotation 2s infinite linear;
}

#img3 {
	top: 50vh;
	left: 7%;
	animation: cc_rotation 2s infinite linear;
}

#img4 {
	top: 50vh;
	left: 55%;
	animation: c_rotation 2s infinite linear;
}

#img5 {
	top: 50vh;
	left: 85%;
	animation: cc_rotation 2s infinite linear;
}

#img6 {
	top: 80vh;
	left: 10%;
	animation: c_rotation 2s infinite linear;
}

#img7 {
	top: 85vh;
	left: 50%;
	animation: cc_rotation 2s infinite linear;
}

#img8 {
	top: 80vh;
	left: 90%;
	animation: c_rotation 2s infinite linear;
}

#landing a img {
	position: relative;
}

#down-arw {
	position: absolute;
	top: 95vh;
	width: 100%;
}

#down-arw-img {
	height: 5vh;
	width: auto;
	left: 50%;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

.content-wrap {
	/* position: fixed; */
	margin-left: 15vw;
	margin-right: 15vw;
	max-width: 70vw;
	margin-bottom: 10vh;
	height: auto;
	text-align: center;
}

#project-heading{
	color: var(--text);
	position: relative;
	font-family: sans-serif;
	font-weight:700;
	font-size: 40px;
	background-color: var(--mainBg);
	top: 5vh;
}

#projects-wrap {
	position: relative;
	width: 100%;
	background-color: transparent;
	top: 10vh;
}

.projects {
	height: fit-content;
	width: 100%;
}

.projects a {
	position: relative;
	display:inline-block;
	padding: 0;
	margin: 0;
	transition: all 0.4s ease;
}

.projects a img {
	position: relative;
	width: 60vw;
	height: 60vh;
	object-fit: cover;
  	display: inline-block;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	margin: 5vh 0;
	filter: blur(0px) brightness(100%);
	transition: all 0.4s ease;
	border-radius: 5vh;
	-webkit-box-shadow: 0 0 20px var(--text);
    box-shadow: 0 0 20px var(--text);
}


.projects a #img-description {
	animation: 0.3s slide-down;
	transition: all 0.1s ease;
}
/* .projects a:hover {
	filter: blur(5px);
  	-webkit-filter: blur(5px);
} */

#img-description {
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 80%;
	height: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	visibility: hidden;
	text-align: left;
	box-sizing: border-box;
	font-family: sans-serif;
}

#img-description h{
	margin: 10px 0;
	font-size: 50px;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-underline-offset: 5px;
}

#img-description p1{
	font-weight: 700;
}

#img-description p{
	margin: 5px 0;
}

#img-description ul li{
	margin: 20px 0;
	font-size: 15px;
}

.projects a:hover #img-description{
	visibility: visible;
	opacity: 1;
	animation: 0.4s slide-up;
}

/* .projects a:hover img {
	filter: brightness(30%);
	-webkit-filter: brightness(30%);
} */

.projects a:hover img{
	filter: blur(5px) brightness(30%);
}

#footer {
	position: relative;
	top:10vh;
	width: 100%;
	height: fit-content;
	text-align: center;
	box-sizing: border-box;
	background-color: var(--text);
	color: var(--mainBg);
	padding: 1vh 0;
}

#footer ul { 
	list-style: none;
	padding: 0;
	margin: 10px 0;
 }

#footer ul a { 
	display: inline; 
	margin: 0 1vw;
	text-decoration: none;
	color: var(--mainBg);
	transition: all 0.3s ease;
}

#footer p {
	margin: 1vh;
}

#footer img {
	margin: 1vh;
}

.underline-animation a{
	display: inline-block;
	position: relative;
  }
  
.underline-animation a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--accent);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline-animation a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

@keyframes c_rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes cc_rotation {
	from {
		transform: rotate(359deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes slide-up {
	from {
		margin-top: 10%;
		height: 100%; 
	}

	to {
		margin-top: 0;
		height: 100%;
	}
}

@keyframes slide-down {
	from {
		margin-top: 0;
		height: 100%; 
	}

	to {
		margin-top: 20%;
		height: 100%;
	}
}
 
@media(max-width:800px) {

	#landing div {
		width: 66%;
		text-align: center;
		background-color: var(--mainBg);
	}

	#landing div p{
		font-size: 15px;
		padding-right: 0;
	}

	.landing-bold {
		font-size: 40px;
	}

	#img0, #img2 {
		top:15vh;
	}

	#img5 {
		left: 95vw;
	}

	#img0, #img3, #img6 {
		left: 10vw;
	}

	#img1 {
		top: 20vh;
	}

	#img7 {
		top: 90vh;
	}

	#down-arw {
		top: 95vh;
	}

	#img-description {
		visibility: visible;
	}

	.projects a img{
		filter: blur(3px) brightness(30%);
	}

	.projects a img {
		width: 70vw;
		height: 50vh;
	}

	#img-description h{
		font-size: 5vw;
		font-weight: 700;
	}

	#img-description p{
		font-size: 3vw;
	}


	#footer p, ul a {
		font-size: smaller;
	}

	#footer img {
		width: 30px;
	}

	#mini-imgs {
		left: 50%;
		transform: translate(-50%, 0);
	}

} 